@charset "utf-8";

body {
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
    color:#707070;
}

h1, h2 {
    font-weight:normal;
    text-align: center;
}

p{
    float: left;
}

/* css for the math characters */
table{
    margin: auto;
    background-color: #EEF0F2;
    color: #353B3C;
    border-collapse: collapse;
    border-radius: 15px;
    border: 1px solid rgb(198, 199, 196, 0.5);
    

}

th, td{
    border-bottom: 1px solid #C6C7C4;
    padding: 10px;
}

th{
    background-color: #A0C1B9;
    color: #353B3C;
}
.deco { 
    text-align:center;
    background:#e5e5e5;
    letter-spacing: 10px;
    border-radius: 0 0 15px 15px;
}
.deco.first { /* round the corners of the top bar differently than the bottom */
    border-radius:15px 15px 0 0;
}
.deco ul {
    list-style-type: none;
    margin:0;
    padding:5px;
}

.deco li {
    display:inline;
}
/* menu styles w/ start of a grid */
.artmenu {
    background:#444348;
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    border-radius:15px;
    margin:0px auto 10px auto;
    vertical-align: top;
    width:50%;
    color: #f1f1f1;
    padding: 10px 30px;
    overflow:auto;
}

.artmenu h1 {
    text-align: center;
}

/*.artmenu main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}*/

.artmenuheader{
    width: 100%;
    margin: 0px auto 0px auto;
}

pre {
    clear:left;
}
.calcmenu {
    background:#f1f1f1;
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    border-radius:15px;
    margin:5px auto;
    vertical-align: top;
    width:500px;
    padding: 10px 30px;
    overflow:auto;
}

.calcmenu h1 {
    text-align: center;
}

.widecalcmenu {
    background:#f1f1f1;
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    border-radius:15px;
    margin:5px auto;
    vertical-align: top;
    width:590px;
    padding: 10px 30px;
    overflow:auto;
    
}

.widecalcmenu h1 {
    text-align: center;
}

.widecalmenu table{
    border: none;
}

.widecalmenu td{
    border: none;
}
/*.calcmenu main {
    display:grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: auto;
}*/

.column {
    padding:10px;
    display:block;
    border-radius: 10px;
}

/* this was used for the images beside the links; if we do not re-implement them it may not be necessary */
.artmenu img {
    float: right;
margin: 10px;
}

ul .artmenu {
    margin:5px 5px;
    padding:0;
    
}

ul, .artmenu li {
    margin:5px 0;
    list-style-type: none;
}

footer {
    text-align: center;
    margin:10px;
}

a:link, a:visited, a:hover, a:active {
    color:#707070;
}

/*article footer*/
.other {
    grid-area: 4 / 2 / 5 / 3;
    padding:10px;
}

.other ul, .pass ul {
    list-style-type: none;
    margin-left:15px;
}

.other li, .pass li {
    padding:3px;
}

.other a:link, .other a:visited, .pass a:link, .pass a:visited {
    color:#707070;
}
h2 {
    font-weight:normal;
    font-size:1.2em;
    padding:5px;
    margin:5px;
    border-bottom:1px solid;
}

/*form styles*/
label
{
    float: left;
    width: 10em;
    text-align: right;
}

input
{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 20em;
    border-radius: 5px;
    
}

.shortinput
{
    float:left;
    margin-left: 1em;
    margin-bottom: .5em;
    width: 5em;
    border-radius: 5px;
    
}

input[type=button]{
    float: left;
    width: 9em;
    text-transform:uppercase;
    padding:2px 10px;
    font-size: 12pt;
    background: white;
    border: 1px solid #d8d8d8;
    color: #707070;
}

input[type=radio]{
    width: 1em;
    float: left;
}
input[type=checkbox]{
    width: 1em;
    float: left;
}

textarea{
    float: left;
    border-radius: 5px;
}

/*grid*/

.button3row{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-rows: auto;
}

.button2row{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: auto;
}



.button1{
    display: grid; 
    grid-column: 1;
    display: inline;
}

.button1 label{
    width: 8em;

}

.button2{
    display: grid;
    grid-column: 2;
}

.button3{
    display: grid;
    grid-column: 3;
}

.columntemplate{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-rows: auto;
}

.column1{
       display: grid; 
    grid-column: 1; 

}

.column2{
        display: grid; 
    display: inline;
    grid-column: 2;
}
.column3{
        display: grid; 
    grid-column: 3;
}

/* class for 2dice */

.pink {
    background:pink;
    font-weight:bold;
}

.dieTable td, .dieTable th {
    text-align: center;
    width:1em;
}

/*label
{
    float: left;
    width: 5em;
    text-align: right;
}*/